/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --text-color: #777;
  --main-section-padding: 60px;
  --transition-time: 0.4s;
}

html {

  scroll-behavior: smooth;
}

body {

  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}

body::-webkit-scrollbar {

  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {

  text-decoration: none;
}

ul {

  list-style: none;
}


/* End Global Rules */

/* Start Components */

.main-heading {
  text-align: center;
}

.main-heading h2 {

  font-weight: normal;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
  position: relative;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #333;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  background-color: white;

}

.main-heading h2+p {
  max-width: 500px;
  margin: 0 auto 100px;
  line-height: 2;
  color: var(--text-color);
}


/* End Components */


/* Start Container */

.container {

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small Screens */
@media (min-width: 768px) {

  .container {

    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {

  .container {

    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {

  .container {

    width: 1170px;
  }
}

/* End Container */


/* Start Header */

header {

  position: absolute;
  width: 100%;
  z-index: 50;
}

header .container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 95.94px;
}

header .container::after {

  content: "";
  position: absolute;
  width: calc(100% - 45px);
  background-color: #a2a2a2;
  height: 1px;
  bottom: 0px;
  left: 30px;
}

header .container img {

  height: 30px;
  padding-left: 15px;
}

header .container nav {

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .bars {

  display: none;
  color: white;
  font-size: 20px;
}


header .container nav .nav-links {
  display: flex;
}



header .container nav .nav-links li a {
  display: block;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  transition: var(--transition-time);
  padding: 40px 10px;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {


  header .container nav .nav-links {

    display: none;
  }

  header .container nav .bars {

    display: block;
  }


  header .container nav .bars:hover+ul {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 500;
  }

  nav .bars+ul li a {

    padding: 15px !important;
  }


}

header .container nav .nav-links li a.active,
header .container nav .nav-links li a:hover {

  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container nav .nav-form {
  width: 40px;
  height: 30px;
  position: relative;
  border-left: 1px solid white;
  margin-left: 30px;
}

header .container nav .nav-form i {
  position: absolute;
  right: 0;
  font-size: 18px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* End Header */


/* Start Landing */

.landing {

  background-image: url(../images/landing.png);
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  position: relative;
}

.landing .overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.landing .landing-text-container {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: var(--transparent-color);
  width: 60%;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 767px) {

  .landing .landing-text-container {

    width: 100%;
    text-align: center;
    justify-content: center;
  }

}

.landing .landing-text-container .text {

  max-width: 500px;
}

.landing .landing-text-container .text h2 {

  font-weight: normal;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 22px;
  text-transform: uppercase;
}

.landing .landing-text-container .text p {
  line-height: 2;
  font-size: 13px;
}

.landing .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.landing .arrow.right {

  right: 30px;
}

.landing .arrow.left {

  left: 30px;
}

.landing .landing-bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.landing .landing-bullets span {
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.landing .landing-bullets span:nth-child(2) {

  margin-right: 3px;
  margin-left: 3px;
}

.landing .landing-bullets span.active {

  border-color: var(--main-color);
  background-color: var(--main-color);
}

/* End Landing */


/* Start Services */

.services {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.services .services-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.services .services-container .service-box {
  display: flex;
  flex-basis: 50%;
  padding: 25px;

}


.services .services-container .service-box i {
  font-size: 35px;
  margin-right: 50px;
  margin-top: 5px;
}

@media (max-width: 768px) {

  .services .services-container {

    flex-direction: column;
    text-align: center;
  }

  .services .services-container .service-box {

    flex-direction: column;
  }

  .services .services-container .service-box i {

    margin: 0 auto 30px;
  }
}

.services .services-container .service-box .service-text {
  flex: 1;
}

.services .services-container .service-box .service-text h3 {

  margin-bottom: 20px;
  color: var(--main-color);
  font-weight: 600;
}

.services .services-container .service-box .service-text p {

  color: var(--text-color);
  line-height: 2;
  font-size: 12px;
}

/* Start Design */

.design {

  background-image: url(../images/Design-Background.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
  padding-top: calc(var(--main-section-padding));
  padding-bottom: calc(var(--main-section-padding));
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 100px;
}

.design::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);

}

.design .design-image {
  display: flex;
  justify-content: flex-end;
  bottom: -130px;
}

.design .design-services {

  background-color: var(--transparent-color);
  color: white;
  padding: 30px 50px;
}

.design .design-image,
.design .design-services {

  flex: 1;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {

  .design .design-services {

    max-width: 100%;
    text-align: center;
  }

  .design .design-image {

    display: none;
  }

}

.design .design-services h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.design .design-services ul li {

  font-size: 15px;
  padding: 15px 30px;
  position: relative;
}

.design .design-services ul li::before {
  font-family: "Font Awesome 5 free";
  content: "\e163";
  font-weight: 900;
  position: absolute;
  left: 0;
  font-size: 16px;
}

/* End Design */


/* End Services */


/* Start Portfolio */

.portfolio {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.portfolio .shuffle-menu {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio .shuffle-menu li {

  padding: 10px 25px;
  text-transform: uppercase;
  outline: none;
  border: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {

  .portfolio .shuffle-menu li {

    padding: 10px 5px;
  }
}

.portfolio .shuffle-menu li.active,
.portfolio .shuffle-menu li:hover {

  background-color: var(--main-color);
  color: white;
}

.portfolio .imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

@media (max-width: 991px) {

  .portfolio .imgs-container {

    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media (max-width: 480px) {

  .portfolio .imgs-container {

    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.portfolio .imgs-container .img-container {
  position: relative;
  overflow: hidden;

}

.portfolio .imgs-container .img-container .img {
  max-width: 100%;
  transition: var(--transition-time);
}

.portfolio .imgs-container .img-container .img img {
  max-width: 100%;

}



.portfolio .imgs-container .img-container .img-text {
  padding: 15px 25px;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  background-color: white;
  width: 100%;
  transition: var(--transition-time);

}


.portfolio .imgs-container .img-container:hover .img {
  transform: rotate(3deg) scale(1.1);
}


.portfolio .imgs-container .img-container:hover .img-text {
  bottom: 0;
}

.portfolio .imgs-container .img-container .img-text h4 {

  font-weight: normal
}

.portfolio .imgs-container .img-container .img-text p {

  font-size: 11px;
  color: var(--main-color);
  line-height: 1.6;
}


.portfolio button {

  padding: 10px 40px;
  margin: 30px auto 50px;
  display: block;
  color: white;
  outline: none;
  background-color: var(--main-color);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.video {

  position: relative;
}

.video::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.video video {

  max-width: 100%;
  aspect-ratio: 16 / 9;

}

.video .video-content {
  position: absolute;
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  background-color: var(--transparent-color);
  padding: 40px 10px;
  color: white;
}

@media (max-width: 767px) {

  .video .video-content {

    padding: 10px;
  }

  .video .video-content h3 {

    font-size: 15px;
  }

  .video .video-content p {

    font-size: 10px;
  }

  .video .video-content button {

    padding: 5px 15px;
    font-size: 10px;
  }
}

.video .video-content h3 {

  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

.video .video-content p {

  margin-bottom: 30px;
  font-size: 13px;
}

.video .video-content button {

  padding: 10px 40px;
  margin: 0 auto;
  display: block;
  outline: none;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* End Portfolio */

/* Start About us */

.about {

  padding-top: var(--main-section-padding);
  overflow: hidden;
  text-align: center;
}

.about img {

  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  padding-right: 40px;
}

@media (max-width: 767px) {

  .about img {

    bottom: -60px;
    margin-top: -60px;
    padding-right: 35px;
  }
}

@media (max-width: 480px) {

  .about img {

    padding-right: 25px;
  }
}

/* Start Stats */

.stats {

  background-image: url(../images/About-us-Background.jpg);
  background-size: cover;
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.stats .container {

  background-color: var(--transparent-color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stats .container .stat-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {

  .stats .container .stat-box {
    flex-basis: 100%;
    padding: 10px;
  }

}

@media (min-width: 768px) {

  .stats .container .stat-box {

    flex-basis: 50%;
  }

}

@media (min-width: 992px) {

  .stats .container .stat-box {

    flex-basis: 25%;
  }

}



.stats .container .stat-box i {
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}

.stats .container .stat-box h3 {
  color: white;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
}

.stats .container .stat-box p {

  font-size: 13px;
  color: white;
  line-height: 2;
}

/* End Stats */


/* End About us */