/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --text-color: #777;
  --main-section-padding: 60px;
  --transition-time: 0.4s;
}

html {

  scroll-behavior: smooth;
}

body {

  font-family: 'Open Sans', sans-serif;
  overflow: overlay;
}

::-webkit-scrollbar {

  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {

  text-decoration: none;
}

ul {

  list-style: none;
}


/* End Global Rules */

/* Start Components */

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
  position: relative;
  transition: 0.3s;
}

.main-heading h2:hover {
  transform: scale(1.1);
}

.main-heading h2::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #333;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  background-color: white;

}

.main-heading h2+p {
  max-width: 500px;
  margin: 0 auto 100px;
  line-height: 2;
  color: var(--text-color);
}


/* End Components */


/* Start Container */

.container {

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small Screens */
@media (min-width: 768px) {

  .container {

    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {

  .container {

    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {

  .container {

    width: 1170px;
  }
}

/* End Container */


/* Start Header */

header {

  position: absolute;
  width: 100%;
  z-index: 50;
}

header .container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 95.94px;
}

header .container::after {

  content: "";
  position: absolute;
  width: calc(100% - 45px);
  background-color: #a2a2a2;
  height: 1px;
  bottom: 0px;
  left: 30px;
}

header .container img {

  height: 30px;
  padding-left: 15px;
}

header .container nav {

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .bars {

  display: none;
  color: white;
  font-size: 20px;
}


header .container nav .nav-links {
  display: flex;
}



header .container nav .nav-links li a {
  display: block;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  transition: var(--transition-time);
  padding: 40px 10px;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {


  header .container nav .nav-links {

    display: none;
  }

  header .container nav .bars {

    display: block;
  }


  header .container nav .bars:hover+ul {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 500;
  }

  nav .bars+ul li a {

    padding: 15px !important;
  }


}

header .container nav .nav-links li a.active,
header .container nav .nav-links li a:hover {

  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container nav .nav-form {
  width: 40px;
  height: 30px;
  position: relative;
  border-left: 1px solid white;
  margin-left: 65px;
}

@media (max-width: 767px) {

  header .container nav .nav-form {

    margin-left: 30px;
  }
}

header .container nav .nav-form i {
  position: absolute;
  right: 0;
  font-size: 18px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* End Header */


/* Start Landing */

.landing {
  min-height: 100vh;
  position: relative;
}

.landing img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition-time);
  -o-object-fit: cover;
  object-fit: cover;
}

.landing img.active {

  opacity: 1;
}

.landing .overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.landing .landing-text-container {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: var(--transparent-color);
  width: 60%;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 767px) {

  .landing .landing-text-container {

    width: 100%;
    text-align: center;
    justify-content: center;
  }

}

.landing .landing-text-container .text {

  max-width: 500px;
}

.landing .landing-text-container .text h2 {

  font-weight: normal;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 22px;
  text-transform: uppercase;
}

.landing .landing-text-container .text p {
  line-height: 2;
  font-size: 13px;
}

.landing .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.landing .arrow.disabled {

  opacity: 0.4;
  pointer-events: none;
  cursor: auto;
}

.landing .arrow:hover:not(.disabled) {
  color: black;
}

.landing .arrow.right {

  right: 30px;
}

.landing .arrow.left {

  left: 30px;
}

.landing .landing-bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.landing .landing-bullets span {
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 50%;
  transition: var(--transition-time);
}

.landing .landing-bullets span:hover {
  transform: scale(1.3);

}

.landing .landing-bullets span:nth-child(2) {

  margin-right: 3px;
  margin-left: 3px;
}

.landing .landing-bullets span.active {

  border-color: var(--main-color);
  background-color: var(--main-color);
}

/* End Landing */


/* Start Services */

.services {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.services .services-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.services .services-container .service-box {
  display: flex;
  flex-basis: 50%;
  padding: 25px;

}


.services .services-container .service-box i {
  font-size: 35px;
  margin-right: 50px;
  margin-top: 5px;
}

.services .services-container .service-box i:hover {
  transform: rotate(1deg) scale(1.1);

}

@media (max-width: 768px) {

  .services .services-container {

    flex-direction: column;
    text-align: center;
  }

  .services .services-container .service-box {

    flex-direction: column;
  }

  .services .services-container .service-box i {

    margin: 0 auto 30px;
  }
}

.services .services-container .service-box .service-text {
  flex: 1;
}

.services .services-container .service-box .service-text h3 {

  margin-bottom: 20px;
  color: var(--main-color);
  font-weight: 600;
}

.services .services-container .service-box .service-text p {

  color: var(--text-color);
  line-height: 2;
  font-size: 12px;
}

/* Start Design */

.design {

  background-image: url(../images/Design-Background.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
  padding-top: calc(var(--main-section-padding));
  padding-bottom: calc(var(--main-section-padding));
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 100px;
}

.design::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);

}

.design .design-image {
  display: flex;
  justify-content: flex-end;
  bottom: -130px;
  transition: 0.3s;
}

.design .design-image:hover {
  transform: scale(1.1);
}

.design .design-services {

  background-color: var(--transparent-color);
  color: white;
  padding: 30px 50px;
}

.design .design-image,
.design .design-services {

  flex: 1;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {

  .design .design-services {

    max-width: 100%;
    text-align: center;
  }

  .design .design-image {

    display: none;
  }

}

.design .design-services h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.design .design-services ul li {

  font-size: 15px;
  padding: 15px 30px;
  position: relative;
}

.design .design-services ul li::before {
  font-family: "Font Awesome 5 free";
  content: "\e163";
  font-weight: 900;
  position: absolute;
  left: 0;
  font-size: 16px;
}


/* End Design */


/* End Services */


/* Start Portfolio */

.portfolio {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.portfolio .shuffle-menu {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio .shuffle-menu li {

  padding: 10px 25px;
  text-transform: uppercase;
  outline: none;
  border: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {

  .portfolio .shuffle-menu li {

    padding: 10px 5px;
  }
}

.portfolio .shuffle-menu li.active,
.portfolio .shuffle-menu li:hover {

  background-color: var(--main-color);
  color: white;
}

.portfolio .imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

@media (max-width: 991px) {

  .portfolio .imgs-container {

    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media (max-width: 480px) {

  .portfolio .imgs-container {

    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.portfolio .imgs-container .img-container {
  position: relative;
  overflow: hidden;
  transition: var(--transition-time);
}

.portfolio .imgs-container .img-container .img {
  max-width: 100%;
  transition: var(--transition-time);
}

.portfolio .imgs-container .img-container .img img {
  max-width: 100%;

}



.portfolio .imgs-container .img-container .img-text {
  padding: 15px 25px;
  position: absolute;
  z-index: 5;
  bottom: -100%;
  background-color: white;
  width: 100%;
  transition: var(--transition-time);

}


.portfolio .imgs-container .img-container:hover .img {
  transform: rotate(3deg) scale(1.1);
}


.portfolio .imgs-container .img-container:hover .img-text {
  bottom: 0;
}

.portfolio .imgs-container .img-container .img-text h4 {

  font-weight: normal
}

.portfolio .imgs-container .img-container .img-text p {

  font-size: 11px;
  color: var(--main-color);
  line-height: 1.6;
}


.portfolio button {
  position: relative;
  padding: 10px 40px;
  margin: 30px auto 50px;
  display: block;
  outline: none;
  border: 1px solid #262626;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.portfolio button:hover {

  border: none;
}

.portfolio button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.portfolio button:hover::before {

  left: 0;
  z-index: -1;
}

.portfolio button span {
  color: #262626;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.portfolio button:hover span {

  color: #fff;
}

.video {

  position: relative;
}

.video::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.video video {

  max-width: 100%;
  aspect-ratio: 16 / 9;

}

.video .video-content {
  position: absolute;
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  background-color: var(--transparent-color);
  padding: 40px 10px;
  color: white;
}

@media (max-width: 767px) {

  .video .video-content {

    padding: 10px;
  }

  .video .video-content h3 {

    font-size: 15px;
  }

  .video .video-content p {

    font-size: 10px;
  }

  .video .video-content button {

    padding: 5px 15px;
    font-size: 10px;
  }
}

.video .video-content h3 {

  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

.video .video-content p {

  margin-bottom: 30px;
  font-size: 13px;
}

.video .video-content button {
  position: relative;
  padding: 10px 40px;
  margin: 0 auto;
  display: block;
  outline: none;
  border: 1px solid #262626;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.video .video-content button:hover {

  border: none;
}

.video .video-content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.video .video-content button:hover::before {

  left: 0;
  z-index: -1;
}

.video .video-content button span {
  color: #262626;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.video .video-content button:hover span {

  color: #fff;
}

/* End Portfolio */

/* Start About us */

.about {

  padding-top: var(--main-section-padding);
  overflow: hidden;
  text-align: center;
}

.about img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  padding-right: 40px;
  transition: var(--transition-time);
}

.about img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {

  .about img {

    bottom: -60px;
    margin-top: -60px;
    padding-right: 35px;
  }
}

@media (max-width: 480px) {

  .about img {

    padding-right: 25px;
  }
}

/* Start Stats */

.stats {

  background-image: url(../images/About-us-Background.jpg);
  background-size: cover;
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.stats .container {

  background-color: var(--transparent-color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stats .container .stat-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {

  .stats .container .stat-box {
    flex-basis: 100%;
    padding: 10px;
  }

}

@media (min-width: 768px) {

  .stats .container .stat-box {

    flex-basis: 50%;
  }

}

@media (min-width: 992px) {

  .stats .container .stat-box {

    flex-basis: 25%;
  }

}



.stats .container .stat-box i {
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: 0.4s;
}

.stats .container .stat-box i:hover {
  transform: rotate(1deg) scale(1.1);

}

.stats .container .stat-box h3 {
  color: white;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
}

.stats .container .stat-box p {

  font-size: 13px;
  color: white;
  line-height: 2;
}

/* End Stats */

/* Start Overview */

.overview .container {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overview .container .skills.section {

  overflow: hidden;
  position: relative;
}

@media (min-width: 992px) {

  .overview .section {

    flex-basis: 45%;
  }

}

@media (max-width: 991px) {

  .overview .section {

    margin-bottom: 60px;
  }

  .overview .container {

    flex-direction: column;
  }

}

@media (max-width: 767px) {

  .overview .section {

    max-width: 500px;
    margin: 0 auto 30px;
  }

}


.overview .section>.text {

  text-align: center;
  margin-bottom: 60px;
}


.overview .section>.text>h3 {
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.overview .section>.text>h3+p {

  color: var(--text-color);
  line-height: 2;
  font-size: 12px;
}

.overview .testimonials {

  position: relative;
}

.overview .testimonials .testimonials-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview .testimonials .testimonials-content .box {

  display: flex;
  margin-bottom: 30px;
}



.overview .testimonials .testimonials-content .box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: 0.3s;
}

.overview .testimonials .testimonials-content .box img:hover {
  transform: rotate(1deg) scale(1.1);
}

@media (max-width: 767px) {

  .overview .testimonials .testimonials-content .box {

    flex-direction: column;
    text-align: center;
  }

  .overview .testimonials .testimonials-content .box img {

    margin: 0 auto 20px;
  }

}

.overview .testimonials .testimonials-content .box .text-content {
  border-bottom: 1px solid #ccc;
  margin-left: 50px;
}

@media (max-width: 767px) {

  .overview .testimonials .testimonials-content .box .text-content {

    margin-left: 0;
  }
}

.overview .testimonials .testimonials-content .box .text-content h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

.overview .testimonials .testimonials-content .box .text-content p {
  color: var(--text-color);
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}

@media (max-width: 767px) {

  .overview .testimonials .testimonials-content .box .text-content h4 {

    font-size: 14px;
  }

  .overview .testimonials .testimonials-content .box .text-content p {

    font-size: 12px;
  }

}

@media (max-width: 991px) {

  .overview .testimonials .testimonials-content .box .text-content h4 {

    margin-bottom: 10px;
  }

}


.overview .testimonials .testimonials-content .bullets {
  text-align: center;
  display: flex;
}

.overview .testimonials .testimonials-content .bullets span {
  width: 10px;
  height: 10px;
  border: 1px solid #777;
  border-radius: 50%;
  transition: var(--transition-time);
}

.overview .testimonials .testimonials-content .bullets span:hover {
  transform: scale(1.3);
}

.overview .testimonials .testimonials-content .bullets span.active {

  background-color: var(--main-color);
  border-color: var(--main-color);
}

.overview .testimonials .testimonials-content .bullets span:nth-child(2) {

  margin: 0 5px;
}


.overview .skills .skills-content {
  display: flex;
  flex-direction: column;
}


.overview .skills .skills-content .skill h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.overview .skills .skills-content .skill .skill-progress {
  background-color: #dadedc;
  height: 30px;
  margin-bottom: 30px;
}


.overview .skills .skills-content .skill .skill-progress span {
  display: block;
  position: relative;
  background-color: var(--main-color);
  z-index: 6;
  height: 100%;
  left: -900px;
  -webkit-animation: progress 1s 2s forwards;
  animation: progress 1s 2s forwards;
}

@-webkit-keyframes progress {

  100% {

    left: 0;
  }
}

@keyframes progress {

  100% {

    left: 0;
  }
}

.overview .skills .skills-content .skill .skill-progress span::after {
  content: attr(data-progress);
  position: absolute;
  right: -20px;
  top: -40px;
  width: 30px;
  height: 15px;
  background-color: #000000c7;
  color: white;
  padding: 5px 7px;
}

.overview .skills .skills-content .skill .skill-progress span::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -7px;
  top: -9px;
  -webkit-animation: arrow 0.4s alternate infinite running;
  animation: arrow 0.4s alternate infinite running;
}


@-webkit-keyframes arrow {

  0% {

    top: -14px;
  }

  100% {

    top: -9px;
  }
}

@keyframes arrow {

  0% {

    top: -14px;
  }

  100% {

    top: -9px;
  }
}

/* End Overview */

/* Start Quote */

.quote {
  position: relative;
  background-image: url(../images/Quote-Background.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote::before {

  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 90%);
  top: 0;
  left: 0;
}

.quote .text {
  position: relative;
  text-align: center;
  height: 30%;
  max-width: 58%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {

  .quote .text {

    max-width: 86%;
  }

}

.quote .text q {

  line-height: 1.6;
  margin-bottom: 10px;
}

.quote .text q::after {

  font-family: "Font Awesome 5 free";
  content: "\f10e";
  font-weight: 900;
  margin-left: 5px;
  position: relative;
  bottom: 6px;
}

.quote .text q::before {

  font-family: "Font Awesome 5 free";
  content: "\f10d";
  font-weight: 900;
  margin-right: 5px;
  position: relative;
  top: -6px;
}

.quote .text p {
  font-size: 12px;
}

/* End Quote */

/* End About us */

/* Start Pricing */

.pricing .container {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.pricing .container .pricing-content {

  position: relative;
}

.pricing .container .pricing-content .deals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}



.pricing .container .pricing-content .deals-container .deal {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  background-color: #fcfcfc85;
  box-shadow: 2px 2px 0 0 #c3cfc340;
}

@media (max-width:991px) {

  .pricing .container .pricing-content .deals-container .deal {

    flex-basis: 40%;
    margin-bottom: 60px;
  }

}

@media (max-width:767px) {

  .pricing .container .pricing-content .deals-container .deal {

    flex-basis: 60%;
    margin-bottom: 20px;
  }

}

.pricing .container .pricing-content .deals-container .deal .deal-head {

  padding: 20px 50px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pricing .container .pricing-content .deals-container .deal .deal-head p {
  text-transform: uppercase;
  line-height: 2;
  font-size: 14px;
  margin-bottom: 10px;
}

.pricing .container .pricing-content .deals-container .deal .deal-head h3 {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}

.pricing .container .pricing-content .deals-container .deal .deal-head h3 span:nth-of-type(1) {

  font-size: 16px;
  position: absolute;
  top: -5px;
  left: -15px;
}


.pricing .container .pricing-content .deals-container .deal .deal-head h3 span:nth-of-type(2) {
  font-size: 11px;
  position: absolute;
  bottom: 0;
}

.pricing .container .pricing-content .deals-container .deal .deal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px;
}

.pricing .container .pricing-content .deals-container .deal .deal-body li {
  padding: 25px;
  position: relative;
}

.pricing .container .pricing-content .deals-container .deal .deal-body li:not(:nth-last-child(1))::after {

  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pricing .container .pricing-content .deals-container .deal .deal-button {

  border-top: 1px solid var(--main-color);
  width: 100%;
  text-align: center;
  padding: 30px 25px;
}


.pricing .container .pricing-content .deals-container .deal .deal-button button {

  padding: 10px 20px;
  border: 1px solid var(--main-color);
  outline: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 6px;
}

.pricing .container .pricing-content .deals-container .deal .deal-button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.pricing .container .pricing-content .deals-container .deal .deal-button button:hover::before {

  left: 0;
  z-index: -1;
}

.pricing .container .pricing-content .deals-container .deal .deal-button button span {
  color: #262626;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.pricing .container .pricing-content .deals-container .deal .deal-button button:hover span {

  color: #262626;
}


.pricing .container .pricing-content p {

  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
}

.pricing .container .pricing-content button {
  position: relative;
  padding: 15px 30px;
  margin: 30px auto 50px;
  display: block;
  outline: none;
  border: 1px solid #262626;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.pricing .container .pricing-content button:hover {

  border: none;
}

.pricing .container .pricing-content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.pricing .container .pricing-content button:hover::before {

  left: 0;
  z-index: -1;
}

.pricing .container .pricing-content button span {
  color: #262626;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.pricing .container .pricing-content button:hover span {

  color: #fff;
}

.subscribe {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  position: relative;
  background-image: url(../images/Contact-us-Background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.subscribe::before {

  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 80%);

}

.subscribe .container {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {

  .subscribe .container {

    flex-direction: column;
  }
}

.subscribe .container .form,
.subscribe .container .text {

  flex-basis: 48%;
}

.subscribe .form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.subscribe .form i {
  position: absolute;
  left: 15px;
  color: white;
}

.subscribe .form input {
  height: 45px;
  width: 100%;
  padding: 10px 0 10px 50px;
  background-color: transparent;
  border: 1px solid white;
  caret-color: var(--main-color);
  color: white;
}

.subscribe .form input:focus {

  outline: none;
}

.subscribe .form input::-webkit-input-placeholder {

  text-transform: uppercase;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.subscribe .form input::-moz-placeholder {

  text-transform: uppercase;
}

.subscribe .form input:-ms-input-placeholder {

  text-transform: uppercase;
}

.subscribe .form input::-ms-input-placeholder {

  text-transform: uppercase;
}

.subscribe .form input::placeholder {

  text-transform: uppercase;
}

.subscribe .form button {
  height: 45px;
  width: 30%;
  padding: 10px 25px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: transparent;
}

.subscribe .text {
  position: relative;
  color: white;
}

@media (max-width: 991px) {

  .subscribe .form {

    margin-bottom: 30px;
    width: 80%;
  }

  .subscribe .text {
    text-align: center;
    max-width: 80%;
    font-size: 15px;
  }
}

.subscribe .text p {
  font-size: 13px;
}

/* End Pricing */

/* Start Contact us */

.contact {

  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.contact .container .contact-content {

  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {

  .contact .container .contact-content {
    flex-direction: column;
  }
}

.contact .container .contact-content form {
  flex-basis: 70%;
}

.contact .container .contact-content form .field {
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.contact .container .contact-content form .field:focus {

  outline: none;
}

.contact .container .contact-content form .field::-webkit-input-placeholder {

  color: black;
  font-size: 14px;
  font-weight: 500;
}

.contact .container .contact-content form .field::-moz-placeholder {

  color: black;
  font-size: 14px;
  font-weight: 500;
}

.contact .container .contact-content form .field:-ms-input-placeholder {

  color: black;
  font-size: 14px;
  font-weight: 500;
}

.contact .container .contact-content form .field::-ms-input-placeholder {

  color: black;
  font-size: 14px;
  font-weight: 500;
}

.contact .container .contact-content form .field::placeholder {

  color: black;
  font-size: 14px;
  font-weight: 500;
}

.contact .container .contact-content form textarea.field {
  height: 200px;
  resize: none;
}


.contact .container .contact-content form button {
  display: flex;
  margin-left: auto;
  padding: 15px 30px;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}


.contact .container .contact-content .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {

  .contact .container .contact-content .info {
    order: -1;
    text-align: center;
  }
}

.contact .container .contact-content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
}

@media (max-width: 767px) {

  .contact .container .contact-content .info h4 {
    margin-bottom: 20px;
  }
}

.contact .container .contact-content .info span {
  display: block;
  line-height: 2;
  color: var(--text-color);
  font-size: 15px;
}

.contact .container .contact-content .info h4:nth-of-type(2) {
  margin-top: 70px;
}

@media (max-width: 767px) {

  .contact .container .contact-content .info h4:nth-of-type(2) {
    margin-top: 40px;
  }
}

.contact .container .contact-content .info address {
  line-height: 1.8;
  color: var(--text-color);
  font-size: 15px;
}

@media (max-width: 767px) {

  .contact .container .contact-content .info address {
    margin-bottom: 40px;
  }
}

footer {

  padding-top: calc(var(--main-section-padding) / 2);
  padding-bottom: calc(var(--main-section-padding) / 2);
  background-image: url(../images/footer.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}

footer::before {

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

footer .container {
  position: relative;
  color: white;
}

footer .container img {
  margin-bottom: 15px;
  transition: var(--transition-time);
}

footer .container img:hover {
  transform: scale(1.1);
}


footer .container p:not(.copyright) {
  padding: 15px 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
}

footer .container .social-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

footer .container .social-icons a {

  color: white;
}

footer .container .social-icons a i:hover {
  transform: scale(1.2);
}

footer .container .copyright {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

footer .container .copyright span {
  color: var(--main-color);
}

/* End Contact us */